@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

body {
  margin: 0;
  font-family: "Quicksand";
  }

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/*---------------------------------
                           App
-----------------------------------*/                           
.App h1 {
 color: rgb(27, 16, 190);
}

.content {
  max-width: 600px;
  margin: 4px auto;
  padding: 1px;
}


/*---------------------------------
                           Navbar 
-----------------------------------*/                           
.navbar {
  padding: 20px;
  display: flex;
  align-items: center;
  max-width: 600px;
  margin: 0 auto;
  border-bottom: 1px solid #f1356d;
}
.navbar h1 {
  color: #215896;
}
.navbar .links {
  margin-left: auto;
}
.navbar a:hover {
  color: #a837be;
}

/*---------------------------------
                           TagList
-----------------------------------*/                           

.tagList {
  display: inline-block
}
.tagList-preview {
  /* padding: 2px 1px;
  margin: 2px 0;
  border-bottom: 1px solid #fafafa; */
  display: inline-block;
  border-radius: '10px';
}

.tagList-preview:hover {
  box-shadow: 6px 3px 5px rgba(0,0,0,0.1);
  cursor: pointer;
}

.tagList-preview h2 {
  font-size: 15px;
  color: #66404c31;
  margin-bottom: 2px;
}
.addTagList {
  margin: 15px;
  font-size: 18px;
}


/*---------------------------------
Printed tags 
-----------------------------------*/                           
.tagsPrinted{
  display: inline-block;
  color:white;
  background-color : #854c91;
  margin: 4px;
  padding: 7px;
  border-radius: 20px;
  cursor: pointer;
}

#btnCmd{
    background-color: rgb(192, 192, 192);
    border-radius: 20px;
    padding: 5px;
    margin-left: 20px;
}
/*---------------------------------
                           addTag 
-----------------------------------*/                           
.addTag {
  margin: 15px;
  font-size: 18px;
}

/*---------------------------------
search-for-tags
-----------------------------------*/   
.search-for-tags{
  display: inline-block;
}

/* ---------------------------------
                         addBookmark                     
-----------------------------------*/   
.addBookmark {
  margin: 15px;
}